# Python bytecode files
__pycache__/
*.pyc

# Virtual environment
venv/
env/

# ROS2 workspace files
install/
log/
build/

# IDE files (Example for VSCode and PyCharm)
.vscode/
.idea/

# System files (macOS, Windows)
.DS_Store
Thumbs.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Docker files
*.log
*.out

# Other temporary files
*.swp
